.cardWithShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .m-t-16 {
    margin-top: 16px;
  }
  
  .minor-bg {
    background-color: blue;
  }
  .medium-bg {
    background-color: orange;
  }
  .severe-bg {
    background-color: red;
  }