<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']" class="d-flex flex-column align-items-center justify-content-center" style="text-decoration: none;">
              <img
                src="/assets/images/logos/smart-logo.svg"
                class="align-middle m-2"
                alt="logo"
                style="height: 70px;" 
              />
              <span class="mt-2" style="font-size: 1.5rem; font-weight: bold; color: #003366;">UIA Accident Portal</span>

            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button
                mat-stroked-button
                class="w-100 d-flex align-items-center"
              >
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/facebook-icon.svg"
                    alt="facebook"
                    width="40"
                    class="m-r-4"
                  />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div>

          <div class="or-border m-t-30">or sign up with</div>

          <form class="m-t-30">
            <!-- Full Name -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Full Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="userRegistrationObj.fullName" placeholder="Full Name" name="fullName" />
            </mat-form-field>
          
            <!-- Email Address -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="userRegistrationObj.email" placeholder="Email Address" type="email" name="email" />
            </mat-form-field>
          
            <!-- Phone Number -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Phone Number</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="userRegistrationObj.phoneNumber" placeholder="Phone Number" type="tel" name="phoneNumber" />
            </mat-form-field>
          
            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="userRegistrationObj.password" placeholder="Password" type="password" name="password" />
            </mat-form-field>
          
            <!-- Sign Up Button -->
            <a (click)="onSignUp()" mat-flat-button class="w-100" [ngStyle]="{'background-color': '#8C3B42', 'color': 'white'}">Sign Up</a>

          </form>
          
          <span class="d-block f-w-500 text-center m-t-24"
            >Already have an Account?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
