<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="bg-light-primary page-header-card">
      <mat-card-title>User Policy</mat-card-title>
      <ul>
        <li>
          <a [routerLink]="['/dashboard/']"> Dashboard </a>
        </li>
        <li>User Policy</li>
      </ul>
    </div>
    <!-- <div class="card-items">
      <div class="bg-light-success card-item">
        <p>Active</p>
        <h2>4</h2>
      </div>
      <div class="bg-light-danger card-item">
        <p>Expired</p>
        <h2>4</h2>
      </div>
      <div class="bg-light-primary card-item">
        <p>Policies</p>
        <h2>4</h2>
      </div>
    </div> -->
    <div class="policy-table">
    </div>
  </mat-card-content>
</mat-card>
